<form class="mt-10 flex flex-1 items-center justify-center gap-x-6" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="relative flex-1 text-[var(--on-background)]">
        <input formControlName="hostname"
            class="block w-full rounded-md border-0 px-4 py-2 shadow-sm ring-1 ring-inset ring-[var(--primary)] bg-[var(--surface)] placeholder:text-on-background focus:ring-2 focus:ring-inset focus:ring-[var(--on-background)] sm:text-sm sm:leading-6"
            value="http://localhost:4567">
    </div>
    <button  type="submit"
        [disabled]="(testService.running$ | async)"
        class="rounded-md bg-[var(--primary-container)] px-3.5 py-2.5 text-sm font-semibold text-[var(--on-primary-container)] shadow-sm hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:opacity-75 flex items-center gap-2">
        <span>Iniciar Teste</span>
        @if (! (testService.running$ | async)) {
            <app-logo/>
        }
        @else {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="animate-spin">
                <path d="M12 3C16.9706 3 21 7.02944 21 12H19C19 8.13401 15.866 5 12 5V3Z"></path></svg>
        }
    </button>
</form>